.profile_card{
  background-color: grey;
}

.profile_title{
  margin-bottom: 0;
  font-family: 'Spectral', serif;
}

.profile_subtitle{
  margin-top: 0;
  font-family: 'Spectral', serif;
}

.list-group-item > a {
  font-family: 'Spectral', serif;
  font-weight: bold;
  text-transform: uppercase;
  color: green;
}

.list_group {
  text-align: center;
}
